html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  font-size: 16px;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.title {
  text-align: center;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 200;
}

/* carousel */
.carousel {
  margin: auto;
  max-width: 952px;
}

.carousel-controls {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.carousel-controls a {
  color: grey;
  transition: 0.5s;
}

.carousel-controls a:focus,
.carousel-controls a:hover {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.carousel-indicators {
  position: absolute;
  color: black;
  z-index: 100;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 30px;
  margin: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Navigation */
#main-nav {
  padding-left: 5rem;
  padding-right: 5rem;
}

#about-button,
#product-button,
#checkout-button,
a.main-nav {
  font-size: 12px !important;
  padding-left: 20px !important;
  padding-right: 0 !important;
}

/* cover */
#cover {
  padding-left: 5rem;
  padding-right: 5rem;
}

.jumbotron {
  height: 85vh;
  color: black;
  text-align: center;
  background: url('./img/cover-1.jpg') center;
  background-size: cover;
  border-radius: 0%;
}

.motto {
  font-weight: bold;
}

hr {
  border-top: 2px solid;
  color: black;
  width: 6%;
}

.left-hr {
  border-top: 2px solid;
  color: black;
  width: 6%;
  margin-left: 0;
}

.right-hr {
  border-top: 2px solid;
  color: black;
  width: 6%;
  margin-right: 0;
}

/* button */
.submit {
  padding: 5px 40px;
}

.black {
  background-color: black;
  border-color: black;
  color: white;
}

.price {
  padding: 8px 25px;
  margin: 0 !important;
}

.white {
  background-color: white;
  border-color: grey;
  color: black;
}

.btn-md.round {
  border-radius: 24px;
  margin-top: 30px;
}

.btn-md.round.black:focus,
.btn-md.round.black:hover {
  background-color: grey;
  border-color: grey;
  transition: 1s;
}

.btn-md.round.white:focus,
.btn-md.round.white:hover {
  background-color: #7cd3e5;
  border-color: #7cd3e5;
  transition: 1s;
  color: white;
}

.btn-md.round:active {
  border: 1px solid black;
}

/* what we do */
.section-mission {
  padding: 3rem 4rem;
}

.square {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.copy-right {
  padding: 1rem 1rem 2rem 4rem;
}

.copy-left {
  padding: 1rem 4rem 2rem 1rem;
}

.copy-left > h5 {
  margin-bottom: 0;
}

.copy-right > h5 {
  margin-bottom: 0;
}

/* our common friends */
.section-friends {
  padding-bottom: 4rem;
}

.friend-grid {
  height: 950px;
}

.center {
  display: flex;
  justify-content: center;
}

/* our team */
.section-team {
  background: url('./img/pattern.jpg') center;
  padding: 4rem 0;
}

.team {
  display: block;
  margin: auto;
  text-align: center;
}

.profile {
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-hr {
  border-top: 2px solid;
  color: black;
  width: 20%;
}

.section-testimonial {
  background-color: white;
  padding: 4rem 0;
}

/* get in touch */
.section-touch {
  background-color: black;
  padding: 4rem 0;
  color: white;
}

.contact-info {
  padding: 0.5rem 0;
  font-size: 12px;
}

a > i {
  margin-right: 1rem;
}

.social-links a:link,
.social-links a:visited {
  text-decoration: none;
  border: 0;
  color: black;
  font-size: 100%;
  transition: 0.5s;
}

.social-media a:link,
.social-media a:visited {
  text-decoration: none;
  border: 0;
  color: #fff;
  font-size: 100%;
  transition: 0.5s;
}

.fa-facebook-square:hover {
  color: #3b5998;
  transition: 0.5s;
}

.fa-twitter-square:hover {
  color: #00aced;
  transition: 0.5s;
}

.fa-google-plus-square:hover {
  color: #dd4b39;
  transition: 0.5s;
}

.fa-pinterest-square:hover {
  color: red;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #517fa4;
  transition: 0.5s;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
  transition: 0.5s;
}

.footer {
  padding: 2rem;
  background-color: white;
  color: black;
}

.footer > p {
  color: grey;
}

/* details */
.section-details {
  padding: 3rem 4rem;
  border-top: 1px solid lightgrey;
}

.section-product {
  padding: 3rem 4rem;
}

.border-left {
  border-top: 2px solid;
  color: black;
  width: 15%;
  margin-left: 0;
}

.pricing {
  padding: 4rem 0;
  width: 100%;
  background-color: black;
  color: white;
  margin-bottom: 10%;
}

/* checkout */
.section-checkout {
  padding: 3rem 4rem;
  border-top: 1px solid lightgrey;
}

.checkout-form {
  width: 70%;
}

.checkout-column {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.checkout-boxes {
  height: 50px !important;
}

.checkout-border {
  border: 1px solid #d3d3d3;
}

#method {
  margin-bottom: 10rem;
}

.form-box {
  background-color: #FCFCFC;
}
